@charset "UTF-8";

div
{
    display: inline-block;
    background-color: rgb(245, 81, 81) ;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

div#d1
{

}
div#d2
{
 
}
div#d3
{

}
div:hover
{
    background-color: blueviolet;
}