@charset "UTF-8";

body {
    background-color: rgb(70, 69, 69); 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
}
h1 {
    background-color: antiquewhite;
}
h2 {
    color: antiquewhite;
}
p {
    font-size: small; text-align: justify;
}